<% layout('/layouts/boilerplate') -%>
<body>
    <h1>Show Details</h1>
    <ul>
        <li>Title: <%= user.title %></li>
        <li>Price: $<%= user.price.toLocaleString("en-US") %></li>
        <li>Description: <%= user.description %></li>
        <li>Location: <%= user.location %></li> 
        <li>country: <%= user.country %></li>

    </ul>
    <a href="/listings/<%= user._id %>/edit">Edit Listing</a>
    <form action="/listings/<%= user._id %>?_method=DELETE" method="POST" style="display:inline;">
        <button>Delete Listing</button>
    </form>

</body>
