<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Show Details</h1>
    <ul>
        <li>Title: <%= user.title %></li>
        <li>Price: $<%= user.price.toLocaleString("en-US") %></li>
        <li>Description: <%= user.description %></li>
        <li>Location: <%= user.location %></li> 
        <li>country: <%= user.country %></li>
    </ul>

</body>
</html>