<% layout('/layouts/boilerplate') -%>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
               <h1>Show Details</h1>
               <br>
               
                <a href="/listings/<%= user._id %>/edit" text-decoration: none;">Edit Listing</a>
                <form action="/listings/<%= user._id %>?_method=DELETE" method="POST" style="display:inline;">
                    <button class="btn btn-danger">Delete Listing</button>
                    <br><br>
                </form>
            </div>
            
            <div class="card col-6 offset-2">
                <img src="<%= user.image %>" class="card-img-top-show" alt="listing image">
                <div class="car-body">
                    <p class="card-text"><b>
                            <%= user.title %>
                        </b><br>
                        <%= user.description %><br>
                            $<%= user.price.toLocaleString("en-US") %><br>
                                <%= user.location %><br>
                                    <%= user.country %>



                    </p>

                </div>

            </div>



            
        </div>


    </body>